.center{
	margin-bottom: 80px;
	margin-top: 80px;
	padding-left:20px;
	padding-right:20px;
}
.text-barras p{
	font-size: 14px;
    font-weight: 600;
	width: 270px;
	height: 20px;
	font-family: gravity-book;
}
progress[value] {
	/* Elimino la apariencia por defecto */
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	
	/* Quito el borde que aparece en Firefox */
	border: none;

	/* Añado mis propios estilos */
	width: 270px;
	height: 30px;
	
	/* 	Estos estilos solo se aplicaran al fondo de la barra en mozilla */
	overflow:hidden;
	border:1px inset #666;
	background-color: #003D5B;

}
.progress{
	float:left;
	margin-top: 10px;
	padding-right:20px;
	padding-left: 20px;
	margin-bottom:20px;
	background-color:#ffffff;
	height: 2rem;
}

.barras1 h2{
	text-align: center;


}
.progress span{
	font-weight:bold;
}

/* Compatibilidad de color en Firefox, Chrome y Safari */
progress::-moz-progress-bar{ 
	background: #003D5B;
	background: rgb(0,102,153);
	background: -moz-linear-gradient(left, rgba(0,102,153,1) 0%, rgba(0,61,91,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,102,153,1)), color-stop(100%, rgba(255,146,10,1)));
	background: -webkit-linear-gradient(left, rgba(0,102,153,1) 0%, rgba(0,61,91,1) 100%);
	background: -o-linear-gradient(left, rgba(0,102,153,1) 0%, rgba(0,61,91,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
	background: linear-gradient(to right, rgba(0,102,153,1) 0%, rgba(0,61,91,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );	 
	} 
progress::-webkit-progress-value { 
	background: #003D5B;
	background: rgb(0,102,153);
	background: -moz-linear-gradient(left, rgba(0,102,153,1) 0%, rgba(0,61,91,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,102,153,1)), color-stop(100%, rgba(255,146,10,1)));
	background: -webkit-linear-gradient(lSeft, rgba(0,102,153,1) 0%, rgba(0,61,91,1) 100%);
	background: -o-linear-gradient(left, rgba(0,102,153,1) 0%, rgba(0,61,91,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,102,153,1) 0%, rgba(0,61,91,1) 100%);
	background: linear-gradient(to right, rgba(0,102,153,1) 0%, rgba(0,61,91,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );

}
progress::-webkit-progress-bar { 
	background-color:#D8D8D8;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; 
	
}
